@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}

img:hover {
    scale: 102%;
}
.pulse {
   width: 22.4px;
   height: 22.4px;
   border-radius: 50%;
   background: #4793AF; /* Ubah warna background */
   box-shadow: 0 0 0 0 rgba(71, 147, 175, 0.5); /* Tetap menggunakan opacity */
   animation: pulse-kefe91md 1.5s infinite linear;
   position: relative;
}

.pulse:before,
.pulse:after {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: inherit;
   box-shadow: 0 0 0 0 rgba(71, 147, 175, 0.5); /* Tetap menggunakan opacity */
   animation: inherit;
   animation-delay: -0.5s;
}

.pulse:after {
   animation-delay: -1s;
}

@keyframes pulse-kefe91md {
   100% {
      box-shadow: 0 0 0 44.8px rgba(71, 147, 175, 0); /* Warna shadow pada keadaan maksimum */
   }
}

